/* App container styling */
.app-content {
    display: flex;
    min-height: calc(100vh - 60px); /* Adjust based on your navbar height */
}

.app-content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fcfcfc;
    overflow-y: auto;
}
  /* Make sure all routes take appropriate width */
.app-content-container > div {
    width: 100%;
    max-width: 1200px; /* You can adjust this based on your design needs */
}
  /* Import Toast notifications styling */
@import 'react-toastify/dist/ReactToastify.css';